.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 448px;
  object-fit: contain;
  position: relative;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
}

.banner_description {
  font-size: 0.9rem;
  width: 45rem;
  line-height: 1.3;
  max-width: 360px;
  padding-top: 1rem;
}

.banner_buttons {
  margin-top: 1rem;
}

.banner_button {
  cursor: pointer;
  color: white;
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}
.banner_fadebutton {
  height: 15vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
