.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 448px; */
  height: 90vh;
  width:100%;
  object-fit: contain;

   -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); 
  filter: alpha(opacity=100);
  /* position:relative; */
 z-index: 1;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
}


.banner_contents {
  margin-left: 30px;
  padding-top: 337px;
  height: 190px;
  position: relative;
  max-width: 500px;
  z-index: 2;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
}

.banner_description {
  font-size: 0.9rem;
  width: 45rem;
  line-height: 1.3;
  max-width: 360px;
  padding-top: 2rem;
}

.banner_buttons {
  margin-top: 2rem;
}

.banner_button {
  cursor: pointer;
  color: white;
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}
.banner_fadebutton {
  height: 10vh;
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
