/* src/index.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: #000;
  color: #fff;
}



/* .default-ltr-yhcdbf-cache-1p0kezo {
    background-position: left top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(22, 22, 22);
    border-color: rgba(128, 128, 128, 0.4);
}


